<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.macalester.rhubarb_crumble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name"
				 android:icon="@drawable/icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyConverterActivity"
            android:label="@string/currency_converter_title" >
        </activity>
        <activity
            android:name=".UnitCategoryChooserActivity"
            android:label="@string/unit_category_chooser_title" >
        </activity>
        <activity
            android:name=".UnitConverterActivity"
            android:label="@string/unit_converter_title" >
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/calculator_title" >
        </activity>
        <activity
            android:name=".MetricPrefixesListActivity"
            android:label="@string/prefix_activity_title" >
        </activity>
    </application>

</manifest>
